.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Custom Mixins*/
#black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 9999px;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.flashDiv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9000000;
}
body #wrapper {
  width: 1050px;
  margin: 0 auto;
  clear: both;
}
body #wrapper #upload {
  background: cyan;
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  min-height: 534px;
  margin-top: -267px;
  min-width: 940px;
  z-index: 9001;
  /* OVER 9000!!!! */

  *zoom: 1;
}
body #wrapper #upload:before,
body #wrapper #upload:after {
  display: table;
  content: "";
}
body #wrapper #upload:after {
  clear: both;
}
body #wrapper #upload #step-1 {
  display: block;
}
body #wrapper #upload #step-1 .left-section {
  width: 300px;
  float: left;
  padding: 30px 30px 60px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper #upload #step-1 .left-section h2,
body #wrapper #upload #step-1 .left-section p,
body #wrapper #upload #step-1 .left-section ol {
  font-family: "Museo-slab", Arial, sans-serif;
  color: #FFF;
}
body #wrapper #upload #step-1 .left-section h2 {
  text-align: center;
  margin-bottom: 10px;
}
body #wrapper #upload #step-1 .left-section ol {
  margin: 20px auto 20px;
  font-size: 18px;
  position: relative;
  left: 30px;
}
body #wrapper #upload #step-1 .left-section ol li span {
  font-size: 49px;
  line-height: 0px;
}
body #wrapper #upload #step-1 .left-section button {
  background-color: #02A6C4;
  color: white;
  width: 180px;
  height: 50px;
  border: 0;
  font-size: 33px;
  line-height: 30px;
  display: block;
  font-family: "bebas-neue", Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0 auto 20px auto;
}
body #wrapper #upload #step-1 .left-section p {
  text-align: left;
  margin: 0;
  font-size: 14px;
}
body #wrapper #upload #step-1 .left-section input#uploadDirect {
  background-color: #02A6C4;
  color: white;
  width: 150px;
  height: 30px;
  border: 0;
  font-size: 18px;
  line-height: 30px;
  display: block;
  font-family: "bebas-neue", Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}
body #wrapper #upload #step-1 .right-section {
  width: 669px;
  padding: 5px;
  float: right;
}
body #wrapper #upload #step-1 .right-section #camera {
  border: 15px solid #333;
  background: #eee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
body #wrapper #upload #step-2 {
  display: none;
}
body #wrapper #upload #step-2 .left-section {
  width: 300px;
  float: left;
  padding: 30px 30px 60px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper #upload #step-2 .left-section form {
  display: block;
}
body #wrapper #upload #step-2 .left-section form input.error {
  border-color: red;
}
body #wrapper #upload #step-2 .left-section form div.spinner {
  top: 350px !important;
  left: 20px !important;
}
body #wrapper #upload #step-2 .left-section form div.spinner:after {
  content: "working...";
  margin-left: 20px;
  position: relative;
  bottom: 10px;
  text-transform: uppercase;
  font-family: "bebas-neue";
  font-size: 18px;
  font-weight: bold;
  color: white;
}
body #wrapper #upload #step-2 .left-section form div.fieldWrapper {
  margin-bottom: 5px;
  display: inline-block;
}
body #wrapper #upload #step-2 .left-section form label {
  color: white;
  font-family: "museo-slab", Arial, sans-serif;
  font-size: 16px;
}
body #wrapper #upload #step-2 .left-section form input[type="text"] {
  height: 25px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper #upload #step-2 .left-section form input[type="submit"] {
  background-color: #02A6C4;
  color: white;
  width: 120px;
  height: 30px;
  border: 0;
  font-size: 18px;
  line-height: 30px;
  display: block;
  font-family: "bebas-neue", Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 5px;
}
body #wrapper #upload #step-2 .left-section form a {
  display: inline;
  margin-top: 10px;
  font-size: 11px;
  color: white;
}
body #wrapper #upload #step-2 .left-section form a#startOver,
body #wrapper #upload #step-2 .left-section form a#previewImage {
  display: inline;
  text-decoration: underline;
  margin-right: 10px;
  font-size: 12px;
}
body #wrapper #upload #step-2 .left-section form #privacy {
  color: white;
  font-size: 11px;
  line-height: 16px;
}
body #wrapper #upload #step-2 .left-section form textarea {
  width: 230px;
  height: 80px;
}
body #wrapper #upload #step-2 .left-section form label {
  display: block;
}
body #wrapper #upload #step-2 .left-section form label.error {
  color: red;
}
body #wrapper #upload #step-2 .right-section {
  width: 669px;
  padding: 5px;
  float: right;
}
body #wrapper #upload #step-2 .right-section #canvas {
  border: 15px solid #333;
  background: #eee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
div.nophoto {
  display: none;
}
.right {
  position: absolute;
  float: none;
  right: 0px;
}
.errorlist {
  margin: 5px 0px;
  color: red;
}
.active {
  right: 0px !important;
}
ul#photo_grid {
  padding: 20px 0;
  *zoom: 1;
}
ul#photo_grid:before,
ul#photo_grid:after {
  display: table;
  content: "";
}
ul#photo_grid:after {
  clear: both;
}
ul#photo_grid li.captioned_photo {
  width: 350px;
  height: 260px;
  list-style-type: none;
  display: inline;
}
ul#photo_grid li.captioned_photo.first {
  background: red;
  display: inline-block;
  vertical-align: top;
  color: #FFF;
  width: 346px;
  height: 260px;
  box-shadow: 1px 1px 3px black;
  float: left;
}
ul#photo_grid li.captioned_photo.first h2,
ul#photo_grid li.captioned_photo.first p {
  margin: 20px;
  font-family: "Museo-slab", Arial, sans-serif;
}
ul#photo_grid li.captioned_photo.first h2 {
  color: #CDCFD0;
}
ul#photo_grid li.captioned_photo img {
  width: inherit;
  height: inherit;
  box-shadow: 1px 1px 3px black;
}
ul#photo_grid li.captioned_photo img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
ul#photo_grid li.captioned_photo #start_upload button {
  background-color: #02A6C4;
  color: white;
  width: 180px;
  height: 50px;
  border: 0;
  font-size: 33px;
  line-height: 30px;
  display: block;
  font-family: "bebas-neue", Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}
