<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="Shortcut Icon" href="favicon.ico">

	<title>Upload</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- //need to write mobile styles <meta name="viewport" content="width=device-width,initial-scale=1"> -->

	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	{%block fb_meta %}
	<meta property="og:title" content="" />
  <meta property="og:description" content="" />
	<meta property="og:image" content="" />
	{%endblock%}
  <meta property="og:site_name" content="" />
  <meta property="og:type" content="" />

  
	{%block extra_head%}{%endblock%}
</head>

	{%block form%}{%endblock%}
	
	{%block content%}{%endblock%}



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.1.js"><\/script>')</script>
<script src="{{STATIC_URL}}js/jquery.webcam.js"></script>
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">var IE7_PNG_SUFFIX =  ".png";</script>
<![endif]-->
{%block extra_script%}{%endblock%}
<script src="{{STATIC_URL}}js/script.js"></script>
</body>
</html>
