<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
	{%block extra_head%}{%endblock%}
</head>

<body>
	<div id="wrapper">
	
	{%block photo_grid%}{%endblock%}
	{%block upload_form%}{%endblock	%}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.1.js"><\/script>')</script>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">var IE7_PNG_SUFFIX =  ".png";</script>
<![endif]-->
{%block extra_script%}
<!--[if IE]><script src="/static/excanvas.js"></script><![endif]-->
{%endblock%}
	</div>
</body>
</html>
