{% extends "base.html" %}


{%block photo_grid%}

<ul id="photo_grid">
	{{raw_post}}
		<li class="captioned_photo first">
		{%for text in textbox%}
			<h2>{{text.title}}</h2>
			<p>{{text.description}}</p>
		{%endfor%}
		</li>
	{%for photo in photos%}
		<li class="captioned_photo"><img src="{{STATIC_URL}}{{photo.captioned_photo}}" /></li>
	{%endfor%}
</ul>
{%endblock%}

{%block upload_form%}
<div id="sticky">
	<aside id="tab" class="rotate-90-ie"><h2>Upload +</h2></aside>
	<div id="upload">
		<article id="step-1">
			<section class="left-section">
				<button id="snap-button">Say Cheese</button>
				<p>No webcam?  Go straight to our <a href="#show_photo" id="show_photo"> upload form.</a></p>
			</section>
			<section class="right-section">
					<div id="camera" />
			</section>
		</article>
		
		<article id ="step-2">
			<section class="left-section">
				<form action="/submit" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<!-- csrf token ajax for photo, pass to PhotoUpload view -->
					{{ form.non_field_errors }}
					<div class="nophoto">
				    	<div class="fieldWrapper">
				        	{{ form.captioned_photo.errors }}
				        	<label for="id_captioned_photo">Upload a photo</label>
				        	{{ form.captioned_photo}}
				        </div>		
				    </div>	
				    <div id="captioned_photo" class="fieldWrapper">
						{{ form.captioned_photo.errors }}
					</div>
					<div class="fieldWrapper">
						{{ form.name.errors }}
						<label for="id_name">Your Name</label>
						{{ form.name }}
					</div>
				    <div class="fieldWrapper">
				        {{ form.zip_code.errors }}
				        <label for="id_zip_code">Your zip code</label>
				        {{ form.zip_code}}
				    </div>
				    <div class="fieldWrapper">
				        {{ form.email.errors }}
				        <label for="id_email">Your email</label>
				        {{ form.email}}
				    </div>						
					<input id="sendForm" type="submit" value="Send" />
				</form>	
			</section>
			<section class="right-section">
				<canvas id="canvas" width="350" height="260"></canvas>
			</section>
		</article>
	</div>
</div>
{%endblock%}

{%block extra_script%}
<script src="{{STATIC_URL}}js/libs/webcam.js"></script>
<script src="{{STATIC_URL}}js/script.js"></script>
<!--[if IE]><script src="{{STATIC_URL}}js/libs/excanvas.compiled.js"></script><![endif]-->
{%endblock%}


