{% extends "base.html" %}


{%block photo_grid%}

<ul id="photo_grid">
	{{raw_post}}
		<li class="captioned_photo first">
		{%for text in textbox%}
			<h2>{{text.title}}</h2>
			<p>{{text.description}}</p>
		{%endfor%}
		</li>
	{%for photo in photos%}
		<li class="captioned_photo"><img src="{{STATIC_URL}}{{photo.captioned_photo}}" /></li>
	{%endfor%}
</ul>
{%endblock%}

{%block upload_form%}
<div id="sticky">
	<aside id="tab"><h2>Upload +</h2></aside>
	<div id="upload">
		<article id="step-1">
			<section class="left-section">
				<button id="snap_button">Say Cheese</button>
				<p>No webcam?  Go straight to our <a href="#show_photo" id="show_photo"> upload form.</a></p>
			</section>
			<section class="right-section">
				<form class="camera" id="id_raw_photo" method="post" enc-type="multipart/form-data"></form><!-- camera is rendered in this form wrapper -->
			</section>
		</article>
		
		<article id ="step-2">
			<section class="left-section">
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<!-- csrf token ajax for photo, pass to PhotoUpload view -->
					{{ form.non_field_errors }}
					<div class="fieldWrapper">
						{{ form.name.errors }}
						<label for="id_name">Your Name</label>
						{{ form.name }}
					</div>
				    <div class="fieldWrapper">
				        {{ form.zip_code.errors }}
				        <label for="id_zip_code">Your zip code</label>
				        {{ form.zip_code}}
				    </div>
				    <div class="fieldWrapper">
				        {{ form.email.errors }}
				        <label for="id_email">Your email</label>
				        {{ form.email}}
				    </div>	
				    <div class="nophoto">
					    <div class="fieldWrapper">
					        {{ form.photo.errors }}
					        <label for="id_photo">Upload a photo</label>
					        {{ form.captioned_photo}}
					    </div>		
				    </div>						
					<input id="sendForm" type="submit" value="Send" />
				</form>	
			</section>
			<section class="right-section">
				<canvas id="canvas" height="350" width="260"></canvas>
			</section>
		</article>
	</div>
</div>
{%endblock%}

{%block extra_script%}
<!-- Most of this is going to be cut out into a separate JS file soon enough -->

<!-- Webcam -->
<script src="{{STATIC_URL}}js/webcam.js"></script>
<!--[if IE]><script src="{{STATIC_URL}}js/excanvas.compiled.js"></script><![endif]-->


<!-- Setting up webcam -->
<script type="text/javascript">
	webcam.set_swf_url('{{STATIC_URL}}js/webcam.swf');
	webcam.set_shutter_sound(true, "{{STATIC_URL}}js/shutter.mp3");
	webcam.set_quality(90);
    webcam.set_stealth(false);
    webcam.set_hook('onComplete', 'callbackCamera');
    
//Render webcam
$(".camera").html(webcam.get_html(350, 260));

//Switches uploads steps
function switchStep() {
	$("#step-1").hide();
	$("#step-2").show();
}

//Callback function for jpegcam - invokes switchStep, creates canvas, and adds jpeg image to canvas
function callbackCamera(returned_data) {
		switchStep();
		//Todo - how do I pass returned image URL... do I define request.POST in context?  Shouldn't this be a file that I'm uploading?  Why is it being returned as a POST and not in request.FILES...
	
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		
		var img = new Image();
		img.src = "/path/to/raw_image.jpg";
		img.onload = function() {
			ctx.drawImage(img, 0, 0);
		}
		image = ctx.getImageData(0, 0, 350, 260);
}

//Activate upload section... todo, fix bug with image displaying again for just a moment.  Pretty sure it is something to do with width.
$("#tab").click(function() {
		$("#upload").animate({width: "toggle"});
});




//Take picture, and instantiate callback function if successful.
$("#snap_button").click(function() {
	webcam.snap("save_raw_image", "callbackCamera");	
});


//Show upload form field for photo
$("#show_photo").click(function(e) {
	e.preventDefault();
	document.location.hash = "#show_photo"
	if(document.location.hash === "#show_photo") {
		$("div.nophoto").removeClass("nophoto");
		$("#step-1").hide();
		$("#step-2").show();
	document.location.hash = "#upload_photo"
	}
});

</script>

{%endblock%}


