{% extends "base.html" %}

{%block content%}

<div id="upload">
	<article id="step-1">
		<section class="left-section">
			<h1>Step 1: Take a Photo</h1>
			<button id="snap_button" onclick="webcam.capture()">Say Cheese</button>
			<p>No webcam?  Go straight to our <a href="#show_photo" id="show_photo"> upload form.</a></p>
		</section>
		<section class="right-section">
			<div id="camera"></div>
		</section>
	</article>
	
	<article id ="step-2">
		<section class="left-section">
			<h1>Step 2:  Share Your Message</h1>	
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<!-- csrf token ajax for photo, pass to PhotoUpload view -->
				{{ form.non_field_errors }}
				<div class="fieldWrapper">
					{{ form.name.errors }}
					<label for="id_name">Your Name</label>
					{{ form.name }}
				</div>
			    <div class="fieldWrapper">
			        {{ form.zip_code.errors }}
			        <label for="id_zip_code">Your zip code</label>
			        {{ form.zip_code}}
			    </div>
			    <div class="fieldWrapper">
			        {{ form.message.errors }}
			        <label for="id_message">Your message:</label>
			        {{ form.message}}
			    </div>
			    <div class="fieldWrapper">
			        {{ form.email.errors }}
			        <label for="id_email">Your email</label>
			        {{ form.email}}
			    </div>	
			    <div class="nophoto">
				    <div class="fieldWrapper">
				        {{ form.photo.errors }}
				        <label for="id_photo">Upload a photo</label>
				        {{ form.photo}}
				    </div>		
			    </div>						
				<input id="sendForm" type="submit" value="Send" />
			</form>	
		</section>
		<section class="right-section">
			<canvas class="csrfmiddlewaretoken" id="canvas" height="480" width="640"></canvas>
		</section>
	</article>
</div>

{%endblock%}

{%block extra_script%}

<script type="text/javascript">


var pos = 0;
var ctx = null;
var cam = null;
var image = [];
var saveCB;
var dataURL;
		
var canvas = document.getElementById("canvas");


if (canvas.toDataURL) {
	ctx = canvas.getContext("2d");
	image = ctx.getImageData(0,0,640,480);
	saveCB = function(data) {
	
	var col = data.split(";");
	var img = image;


	for(var i = 0; i < 640; i++) {
		var tmp = parseInt(col[i]);
		img.data[pos + 0] = (tmp >> 16) & 0xff;
		img.data[pos + 1] = (tmp >> 8) & 0xff;
		img.data[pos + 2] = tmp & 0xff;
		img.data[pos + 3] = 0xff;
		pos+= 4;
		
	};

	if (pos >= 4 * 640 * 480) 
	{
    	ctx.putImageData(img, 0, 0);
    }

    	ctx.fillStyle="#000";
		ctx.fillRect(0,0,640,50);
		ctx.globalAlpha=0.3;
	
		ctx.fillStyle="#000";
		ctx.fillRect(0,325,640,155);
		ctx.globalAlpha=0.3;
	}
} 

$("#camera").webcam({

	width: 640,
	height: 480,
	mode: "callback",
	swffile: "{{STATIC_URL}}js/jscam.swf",

	onTick: function(remain) {

		if (0 == remain) {
			jQuery("#status").text("Cheese!");
		} else {
			jQuery("#status").text(remain + " seconds remaining...");
		}
	},

	onSave: saveCB,

	onCapture: function () {
		webcam.save();

		
	     	                
		jQuery("#flash").css("display", "block");
		jQuery("#flash").fadeOut(100, function () {
		jQuery("#flash").css("opacity", 1);
		
		$("article#step-1").hide();
		$("article#step-2").show();
		
		ImageToServer();
		});
	},

	debug: function (type, string) {
		jQuery("#status").html(type + ": " + string);
	},

	onLoad: function () {

		var cams = webcam.getCameraList();
		for(var i in cams) {
			jQuery("#cams").append("<li>" + cams[i] + "</li>");
		}
	}
});

//I think this is literally just being used for the flash effect...
function getPageSize() {

	var xScroll, yScroll;

	if (window.innerHeight && window.scrollMaxY) {
		xScroll = window.innerWidth + window.scrollMaxX;
		yScroll = window.innerHeight + window.scrollMaxY;
	} else if (document.body.scrollHeight > document.body.offsetHeight){ // all but Explorer Mac
		xScroll = document.body.scrollWidth;
		yScroll = document.body.scrollHeight;
	} else { // Explorer Mac...would also work in Explorer 6 Strict, Mozilla and Safari
		xScroll = document.body.offsetWidth;
		yScroll = document.body.offsetHeight;
	}

	var windowWidth, windowHeight;

	if (self.innerHeight) { // all except Explorer
		if(document.documentElement.clientWidth){
			windowWidth = document.documentElement.clientWidth;
		} else {
			windowWidth = self.innerWidth;
		}
		windowHeight = self.innerHeight;
	} else if (document.documentElement && document.documentElement.clientHeight) { // Explorer 6 Strict Mode
		windowWidth = document.documentElement.clientWidth;
		windowHeight = document.documentElement.clientHeight;
	} else if (document.body) { // other Explorers
		windowWidth = document.body.clientWidth;
		windowHeight = document.body.clientHeight;
	}

	// for small pages with total height less then height of the viewport
	if(yScroll < windowHeight){
		pageHeight = windowHeight;
	} else {
		pageHeight = yScroll;
	}

	// for small pages with total width less then width of the viewport
	if(xScroll < windowWidth){
		pageWidth = xScroll;
	} else {
		pageWidth = windowWidth;
	}

	return [pageWidth, pageHeight];
}

//Setting up flash, canvas
window.addEventListener("load", function() {
	if("#upload".length > 0) {
		$("body").append("<div id=\"flash\"></div>");
	};
	
		
	var pageSize = getPageSize();
	$("#flash").css({ height: pageSize[1] + "px" });

}, false);

window.addEventListener("resize", function() {

	var pageSize = getPageSize();
	jQuery("#flash").css({ height: pageSize[1] + "px" });

}, false);

//Wraps text on canvas
function wrapText(ctx,text,x,y,lineHeight,maxWidth) 
{
  	maxWidth = maxWidth || 0;
  	
  	if (maxWidth <= 0) {
        ctx.fillText(text,x,y);
        return;
    }
    var words = text.split(' ');
    var currentLine = 0;
    var idx = 1;
    while (words.length > 0 && idx <= words.length) {
        var str = words.slice(0,idx).join(' ');
        var w = ctx.measureText(str).width;
        if ( w > maxWidth ) {
            if (idx==1)
            {
                idx=2;
            }
            ctx.fillText(words.slice(0,idx-1).join(' '), x, y + (lineHeight*currentLine));
            currentLine++;
            words = words.splice(idx-1);
            idx = 1;
        }
        else {
        	idx++;
        }
    }
    if(idx > 0)
        ctx.fillText( words.join(' '), x, y + (lineHeight*currentLine) );
}

function redrawImage() 
{

	//TODO:  Make function that paints everything that is on the canvas EXCEPT for the thing that is to be edited.  
	//To do this, we'll need to have the image and the overlays saved immediately so that they can be redrawn anytime we make an edit.  
	//I think we essentially just want to figure out a way to save after each edit so that we can "rollback."
		
} 


//Draw stuff from form to canvas
	$("#id_name").change(function() {
	redrawImage();
	ctx.fillStyle = "#FFF";
	ctx.font = "bold 20px Helvetica";
	ctx.globalAlpha=1;
	ctx.fillText(this.value,20,20);
	ImageToServer();
	});

$("#id_zip_code").change(function() {
	ctx.fillStyle = "#FFF";
	ctx.font = "12px Helvetica";
	ctx.globalAlpha=1;
	ctx.fillText(this.value,20,40);
	ImageToServer();
});

$("#id_message").change(function() {
	ctx.fillStyle = "#FFF";
	ctx.font = "14px Helvetica";
	ctx.globalAlpha=1;
	var text = this.value;
	wrapText(ctx,text,20,350,16,610);
	ImageToServer();
});

//Hide Photo Upload if you click webcam, show if you go to upload form
$("#show_photo").click(function() {
	document.location.hash = "#show_photo";
	if(document.location.hash === "#show_photo") {
		$("div.nophoto").removeClass("nophoto");
		$("article#step-1").hide();
		$("article#step-2").show();
	}
});

//Allow ajax post to go through
$('html').ajaxSend(function(event, xhr, settings) {
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken",
                             $(".csrfmiddlewaretoken").val());
    }
});

function ImageToServer() {
	var dataURL = canvas.toDataURL();
	
	$.post('/webcam')
	
	
};

</script>
{%endblock%}


