{% extends "base.html" %}

{%block content%}

<div id="upload">
	<article id="step-1">
		<section class="left-section">
			<h1>Step 1: Take a Photo</h1>
			<button id="snap_button" onclick="webcam.capture()">Say Cheese</button>
			<p>No webcam?  Go straight to our <a href="#show_photo" id="show_photo"> upload form.</a></p>
		</section>
		<section class="right-section">
			<div id="camera"></div>
		
		</section>
	</article>
	
	<article id ="step-2">
		<section class="left-section">
			<h1>Step 2:  Share Your Message</h1>	
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<ul>
					<li><label for="id_name">Name:</label> <input id="id_name" type="text" name="name" maxlength="50" /></li>
					<li><label for="id_zip_code">Zip code:</label> <input id="id_zip_code" type="text" name="zip_code" maxlength="5" /></li>
					<li><label for="id_email">Email:</label> <input id="id_email" type="text" name="email" maxlength="75" /></li>
					<li><label for="id_message">Message:</label> <textarea id="id_message" rows="10" cols="40" name="message"></textarea></li>
					<li class="nophoto"><label for="id_photo">Photo:</label> <input type="file" name="photo" id="id_photo" /></li>	
				</ul>
				<input type="submit" value="Send" />
			</form>	
		</section>
		<section class="right-section">
			<canvas id="canvas" height="375" width="500"></canvas>
		</section>
	</article>
</div>

{%endblock%}

{%block extra_script%}

<script type="text/javascript">

var pos = 0;
var ctx = null;
var cam = null;
var image = null;

var filter_on = false;
var filter_id = 0;

function changeFilter() {
	if (filter_on) {
		filter_id = (filter_id + 1) & 7;
	}
}

function toggleFilter(obj) {
	if (filter_on =!filter_on) {
		obj.parentNode.style.borderColor = "#c00";
	} else {
		obj.parentNode.style.borderColor = "#333";
	}
}

jQuery("#camera").webcam({

	width: 500,
	height: 375,
	mode: "callback",
	swffile: "{{STATIC_URL}}js/jscam_canvas_only.swf",

	onTick: function(remain) {

		if (0 == remain) {
			jQuery("#status").text("Cheese!");
		} else {
			jQuery("#status").text(remain + " seconds remaining...");
		}
	},

	onSave: function(data) {

		var col = data.split(";");
		var img = image;

		if (false == filter_on) {

			for(var i = 0; i < 500; i++) {
				var tmp = parseInt(col[i]);
				img.data[pos + 0] = (tmp >> 16) & 0xff;
				img.data[pos + 1] = (tmp >> 8) & 0xff;
				img.data[pos + 2] = tmp & 0xff;
				img.data[pos + 3] = 0xff;
				pos+= 4;
			}

		} else {

	

			for(var i = 0; i < 500; i++) {
				var tmp = parseInt(col[i]);

				/* Copied some xcolor methods here to be faster than calling all methods inside of xcolor and to not serve complete library with every req */

				if (id == 0) {
					r = (tmp >> 16) & 0xff;
					g = 0xff;
					b = 0xff;
				} else if (id == 1) {
					r = 0xff;
					g = (tmp >> 8) & 0xff;
					b = 0xff;
				} else if (id == 2) {
					r = 0xff;
					g = 0xff;
					b = tmp & 0xff;
				} else if (id == 3) {
					r = 0xff ^ ((tmp >> 16) & 0xff);
					g = 0xff ^ ((tmp >> 8) & 0xff);
					b = 0xff ^ (tmp & 0xff);
				} else if (id == 4) {

					r = (tmp >> 16) & 0xff;
					g = (tmp >> 8) & 0xff;
					b = tmp & 0xff;
					var v = Math.min(Math.floor(.35 + 13 * (r + g + b) / 60), 255);
					r = v;
					g = v;
					b = v;
				} else if (id == 5) {
					r = (tmp >> 16) & 0xff;
					g = (tmp >> 8) & 0xff;
					b = tmp & 0xff;
					if ((r+= 32) < 0) r = 0;
					if ((g+= 32) < 0) g = 0;
					if ((b+= 32) < 0) b = 0;
				} else if (id == 6) {
					r = (tmp >> 16) & 0xff;
					g = (tmp >> 8) & 0xff;
					b = tmp & 0xff;
					if ((r-= 32) < 0) r = 0;
					if ((g-= 32) < 0) g = 0;
					if ((b-= 32) < 0) b = 0;
				} else if (id == 7) {
					r = (tmp >> 16) & 0xff;
					g = (tmp >> 8) & 0xff;
					b = tmp & 0xff;
					r = Math.floor(r / 255 * r1);
					g = Math.floor(g / 255 * r2);
					b = Math.floor(b / 255 * r3);
				}

				img.data[pos + 0] = r;
				img.data[pos + 1] = g;
				img.data[pos + 2] = b;
				img.data[pos + 3] = 0xff;
				pos+= 4;
			}
		}

		if (pos >= 0x4B000) {
			ctx.putImageData(img, 0, 0);
			pos = 0;
		}

		ctx.fillStyle="#000";
		ctx.globalAlpha=0.3;
		ctx.fillRect(0,0,500,50);
		
		ctx.fillStyle="#000";
		ctx.globalAlpha=0.3;
		ctx.fillRect(0,295,500,80);
	},

	onCapture: function () {
		jQuery("#flash").css("display", "block");
		jQuery("#flash").fadeOut(100, function () {
		jQuery("#flash").css("opacity", 1);
		webcam.save();
		$("article#step-1").hide();
		$("article#step-2").show();
		
		
		});
	},

	debug: function (type, string) {
		jQuery("#status").html(type + ": " + string);
	},

	onLoad: function () {

		var cams = webcam.getCameraList();
		for(var i in cams) {
			jQuery("#cams").append("<li>" + cams[i] + "</li>");
		}
	}
});

function getPageSize() {

	var xScroll, yScroll;

	if (window.innerHeight && window.scrollMaxY) {
		xScroll = window.innerWidth + window.scrollMaxX;
		yScroll = window.innerHeight + window.scrollMaxY;
	} else if (document.body.scrollHeight > document.body.offsetHeight){ // all but Explorer Mac
		xScroll = document.body.scrollWidth;
		yScroll = document.body.scrollHeight;
	} else { // Explorer Mac...would also work in Explorer 6 Strict, Mozilla and Safari
		xScroll = document.body.offsetWidth;
		yScroll = document.body.offsetHeight;
	}

	var windowWidth, windowHeight;

	if (self.innerHeight) { // all except Explorer
		if(document.documentElement.clientWidth){
			windowWidth = document.documentElement.clientWidth;
		} else {
			windowWidth = self.innerWidth;
		}
		windowHeight = self.innerHeight;
	} else if (document.documentElement && document.documentElement.clientHeight) { // Explorer 6 Strict Mode
		windowWidth = document.documentElement.clientWidth;
		windowHeight = document.documentElement.clientHeight;
	} else if (document.body) { // other Explorers
		windowWidth = document.body.clientWidth;
		windowHeight = document.body.clientHeight;
	}

	// for small pages with total height less then height of the viewport
	if(yScroll < windowHeight){
		pageHeight = windowHeight;
	} else {
		pageHeight = yScroll;
	}

	// for small pages with total width less then width of the viewport
	if(xScroll < windowWidth){
		pageWidth = xScroll;
	} else {
		pageWidth = windowWidth;
	}

	return [pageWidth, pageHeight];
}

window.addEventListener("load", function() {
	if("#upload".length > 0) {
		$("body").append("<div id=\"flash\"></div>");
	};
	
	var canvas = document.getElementById("canvas");

	if (canvas.getContext) {
		ctx = document.getElementById("canvas").getContext("2d");
		ctx.clearRect(0, 0, 500, 375);
		image = ctx.getImageData(0, 0, 500, 375);
	}
	
	var pageSize = getPageSize();
	$("#flash").css({ height: pageSize[1] + "px" });

}, false);

window.addEventListener("resize", function() {

	var pageSize = getPageSize();
	jQuery("#flash").css({ height: pageSize[1] + "px" });

}, false);

function wrapText(ctx,text,x,y,lineHeight,maxWidth) {
  	maxWidth = maxWidth || 0;
  	
  	if (maxWidth <= 0) {
        ctx.fillText(text,x,y);
        return;
    }
    var words = text.split(' ');
    var currentLine = 0;
    var idx = 1;
    while (words.length > 0 && idx <= words.length) {
        var str = words.slice(0,idx).join(' ');
        var w = ctx.measureText(str).width;
        if ( w > maxWidth ) {
            if (idx==1)
            {
                idx=2;
            }
            ctx.fillText(words.slice(0,idx-1).join(' '), x, y + (lineHeight*currentLine));
            currentLine++;
            words = words.splice(idx-1);
            idx = 1;
        }
        else {
        	idx++;
        }
    }
    if(idx > 0)
        ctx.fillText( words.join(' '), x, y + (lineHeight*currentLine) );
}


	$("#id_name").change(function() {
	ctx.fillStyle = "#FFF";
	ctx.font = "12px Helvetica";
	ctx.globalAlpha=1;
	ctx.fillText(this.value,20,20);
	});

$("#id_zip_code").change(function() {
	ctx.fillStyle = "#FFF";
	ctx.font = "12px Helvetica";
	ctx.globalAlpha=1;
	ctx.fillText(this.value,20,40);
});

$("#id_message").change(function() {
	ctx.fillStyle = "#FFF";
	ctx.font = "10px Helvetica";
	ctx.globalAlpha=1;
	var text = this.value;
	wrapText(ctx,text,20,180,16,200);
});

$("#show_photo").click(function() {
	if(document.location.hash === "#show_photo") {
		$(".nophoto").show();
		$("article#step-1").hide();
		$("article#step-2").show();
	}
});
</script>
{%endblock%}


